<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <link rel="stylesheet" href="../css/myPage.css">
</head>
<body>
<div class="Content">
    <div class="Profile">
        <div class="Img">
            <img src="/img/danggu.jpg">
        </div>
        <div class="Who">
            <p style="font-weight: bold;">역삼당구장
                <img src="../../img/arrow.jpg" style="height: 12px;" alt=""></p>
            <p style="font-size: small;">사업자회원</p>
        </div>
    </div>

    <div class="detail">
        <div class="Setting">
            <p>사업자 계정</p>
            <ul>
                <li>로그인 이메일 변경</li>
                <li>비밀번호 변경</li>
                <li>핸드폰 번호 변경</li>
            </ul>
        </div>
        <div class="action">
            <p>활동</p>
            <ul>
                <li>정보 작성</li>
                <li>자리배치도 올리기</li>
            </ul>
        </div>
        <div class="regular cutomer">
            <p>단골 회원 목록</p>
            <ul>
                <li class="Profile">
                    <div class="Img">
                        <img src="../../img/personProfile.png">
                    </div>
                    <div class="Who">
                        <p>역삼동무법자</p>
                        <p style="font-size: small;">이용횟수</p>
                    </div>
                </li>
                <li class="Profile">
                    <div class="Img">
                        <img src="../../img/personProfile.png">
                    </div>
                    <div class="Who">
                        <p>강남역천사</p>
                        <p style="font-size: small;">사유</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="BlackList cutomer">
            <p>블랙리스트 회원 목록</p>
            <ul>
                <li class="Profile">
                    <div class="Img">
                        <img src="../../img/personProfile.png">
                    </div>
                    <div class="Who">
                        <p>역삼동무</p>
                        <p style="font-size: small;">리필무새</p>
                    </div>
                </li>
                <li class="Profile">
                    <div class="Img">
                        <img src="/img/personProfile.png">
                    </div>
                    <div class="Who">
                        <p>강남역빌런</p>
                        <p style="font-size: small;">빌런</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>