<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <link rel="stylesheet" href="../css/myPage.css">
</head>
<body>
<div class="Content">
    <div class="Profile">
        <div class="Img">
            <img src="../../img/personProfile.png">
        </div>
        <div class="Who">
            <p style="font-weight: bold;">역삼동무법자
                <img src="../../img/arrow.jpg" style="height: 12px;" alt=""></p>
            <p style="font-size: small;">개인회원</p>
        </div>
    </div>

    <div class="detail">
        <div class="Setting">
            <p>개인 계정</p>
            <ul>
                <li>로그인 이메일 변경</li>
                <li>비밀번호 변경</li>
                <li>핸드폰 번호 변경</li>
            </ul>
        </div>
        <div class="regular store">
            <p>단골 매장 목록</p>
            <ul>
                <li class="Profile">
                    <div class="Img">
                        <img src="../../img/businessProfile.png">
                    </div>
                    <div class="Who">
                        <p>역삼당구장</p>
                        <p style="font-size: small;">서울특별시 금천구 가산동 디지털로123</p>
                    </div>
                </li>
                <li class="Profile">
                    <div class="Img">
                        <img src="../../img/danggu.jpg">
                    </div>
                    <div class="Who">
                        <p>역삼당구장</p>
                        <p style="font-size: small;">서울특별시 금천구 가산동 디지털로123</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="BlackList store">
            <p>블랙리스트 매장 목록</p>
            <ul>
                <li class="Profile">
                    <div class="Img">
                        <img src="../../img/danggu.jpg">
                    </div>
                    <div class="Who">
                        <p>강남당구장</p>
                        <p style="font-size: small;">바가지 씌움</p>
                    </div>
                </li>
                <li class="Profile">
                    <div class="Img">
                        <img src="../../img/businessProfile.png">
                    </div>
                    <div class="Who">
                        <p>pc방</p>
                        <p style="font-size: small;">음식 맛없음</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>